.my-profile-wrapper {
    .form-group {

        .react-select-container .css-13cymwt-control,
        .react-select-container .css-t3ipsp-control {
            background-color: #1a1a1a;
        }

        .faEye-icon {
            top: 50%;
            line-height: normal;
            transform: translate(0, -50%);
        }
    }

}