.info-wrapper {
    p {
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        font-weight: 400;

        b {
            color: #FFFFFF;
            font-family: "Montserrat", Sans-serif;
            font-weight: 600;
        }
    }


    h2 {
        color: #F7F5F5;
        font-family: "Montserrat", Sans-serif;
        font-size: 26px;
        font-weight: 600;
    }

    .mb-80 {
        margin-bottom: 80px;
    }

    section {
        padding: 40px;

        @media(max-width:991px) {
            padding: 15px;
        }
    }

    .container {
        max-width: 1600px;
    }

    h3 {
        font-family: "Montserrat", Sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 32px;
        margin: 0px 0px 25px 0px;
    }

    .mb-60 {
        margin-bottom: 60px;
    }

    a.btn.btn-link {
        color: #666;
        transition: color .2s;
        font-family: "Montserrat", Sans-serif;
        font-size: 18px;
        font-weight: 500;

        &:hover {
            color: #5DD2FC;
        }
    }
}